/* CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* CONTENT */

#container-donasi {
    margin: 30px 30px auto;
}

#search {
    display: block;
    border-radius: 20px;
    width: 400px;
    padding: 5px;
    border: 2px solid #0084CC;
    font-size: 12px;
    margin-bottom: 20px;
}

select {
    font-size: 12px;
    padding: 4px;
    border-radius: 10px;
}

#filter-btn {
    padding: 1px 5px;
    margin-left: 10px;
}

/* LIST */

#list {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.unit {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 10px;
    background-color: #fff;
}

.foto {
    background-color: blue;
    width: 300px;
    height: 300px
}

.detail {
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.list-kategori {
    display: flex;
    flex-direction: row;
}

.kategori {
    display: flex;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #C4C4C4;
}

#list a {
    display: block;
    border-radius: 20px;
    color: #fff;
    width: 100px;
    text-align: center;
    background-color: #F9AF97;
    text-decoration: none;
    padding: 8px;
    box-shadow: #000 2px;
}