<!DOCTYPE html>
{% extends "base/base.html" %}

{% load static %}

<!-- HEAD -->

{% block head %}
<link rel="stylesheet" href="{% static '/css/donasibarang.css' %}">
<title>Corona-Dingdong | Donasi</title>
{% endblock %}

<!-- CONTENT -->

{% block content %}
<div id="container-donasi">
    <form action="">
        <input type="text" name="search" id="search" placeholder="ketik nama RS atau klinik di sini">
    </form>

    <div class="filter">
        <label for="choose">Filter: </label>
        <select id="choose">
            <option value="all">All</option>
            <option value="haha">haha</option>
            <option value="hihi">hihi</option>
            <option value="huhu">huhu</option>
        </select>
        <button class="btn btn-light filter-btn" id="filter-btn">filter</button>
    </div>

    <div id="list"></div>
</div>
{% endblock %}

<!-- SCRIPT -->

{% block script %}
<!-- Javascript, JQuery, AJAX -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>

<!-- donasi.js -->
<script src="{% static 'js/donasibarang.js' %}"></script>
{% endblock %}