<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- META TAG -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block static %}{% endblock %}

    <!-- Import Font -->
    <link href="https://fonts.googleapis.com/css?family=Chewy&display=swap" rel="stylesheet">

    <!-- Import from fontawesome.com -->
    <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="container" class="position-relative">
        <!-- Navbar -->
        <div class="fixed-top b-blue">
          <nav class="navbar navbar-default navbar-expand-md navbar-light">
            <a class="navbar-brand" href=""><img src="{% static 'img/corona-help.svg' %}" alt=""></a>
            <hr>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link{% if url_name == 'index' %} active{% endif %}" href="{% url 'homepage:index' %}">Beranda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if url_name == 'donasi' %} active{% endif %}" href="{% url 'donasi:donasi' %}">Donasi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if url_name == 'tentang' %} active{% endif %}" href="">RS in need</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if url_name == 'testimoni' %} active{% endif %}" href="">FAQ</a>
                </li>
              </ul>
              <ul class="ml-auto navbar-nav">
                <li class="navbar-right nav-item">
                    <a class="nav-link{% if url_name == 'testimoni' %} active{% endif %}" href="">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>

        <!-- Content -->
        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer class="position-absolute b-blue-muda d-flex justify-content-between align-items-center">
            <div class="col text-center">
              <img class="footer-img img-fluid" src="{% static '/img/ui.png' %}" alt="">
              Developed by Fasilkom UI
            </div>
            <div class="col text-center">
              Corona-Dingdong Team
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src={% static 'js/homepage.js' %}></script>
    {% block script %}{% endblock %}
</body>
</html>