html {
  font-size: 18px;
}
body {
  font-family: 'Nunito', sans-serif;
  color: #333;
}
nav.navbar {
  padding: 1rem 80px;
  max-width: 1360px;
  margin: 0 auto;
}
a.nav-link {
  color: #fff !important;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
footer {
  bottom: 0;
  height: 120px;
  font-size: 1rem;
  width: 100%;
}
img.footer-img {
  margin-right: 1rem;
  height: 54px;
  width: 54px;
}
.footer-text {
  padding: 0 3rem;
}
section > div {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1360px;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-weight: bold;
}
#container {
  min-height: 100vh;
  padding: 81px 0 160px;
}
#header {
  min-height: 80vh;
}
#header h1 {
  font-size: 5rem;
  font-weight: 800;
}
#header img {
  right: 0;
  bottom: 0;
  height: 100%;
}
.b-blue {
  color: #fff !important;
  background-color: #3A35C3 !important;
}
.b-blue-muda {
  color: #fff !important;
  background-color: #0084CC !important;
}

.modal-title-header {
    display: flex;
}

@media (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
  nav.navbar, section > div {
    padding-left: 40px;
    padding-right: 40px;
  }
  #container {
    padding-top: 63px;
  }
  #header {
    min-height: 95vh;
  }
  #header > div {
    height: 100%;
    padding-top: 20vh;
  }
  #header > img {
    width: 100%;
    height: auto;
  }
  img.footer-img {
    margin-right: 0.5rem;
    height: 2rem;
    width: 2rem;
  }
}