/* CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1.hp-text {
    color: #0085CC;
}
hr.hp-hr {
    border: none;
    background-color: #0085CC;
    border-radius: 10px;
    height: 16px;
}
img.img-content {
    width: 328px;
    height: 267px;
}
.content {
    margin-bottom: 10px;
}
.button {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    border: none;
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    margin: 12px;
    border-radius: 1rem;
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
    width: 15rem;
    height: 4rem;
}
.bt-blue {
    background-color: #0084CC;
}
.bt-green {
    background-color: #20EFA4;
}
.row-info {
    padding-bottom: 10px;
}
.row-hp {
    padding-bottom: 150px;
}
.odp {
    height: 68px;
    width: 50px;
}
.pdp {
    height: 68px;
    width: 50px;
}
.positif {
    height: 68px;
    width: 50px;
}
.to-top {
    border: none;
    background-color: #fff;
}
img.arrow {
    height: 20px;
    width: 23px;
}
#homepage {
    min-height: 75vh;
}

#homepage .homepage {
    margin: 60px 0;
}

#homepage .container-fluid {
  padding: 0;
}

@media (max-width: 1200px) {
    img.img-content {
        width: 15.375rem;
        height: 12.5rem;
    }
    img.img-donate {
        width: 11.7rem;
        height: 8.28rem;
    }
}