{% extends 'base/base.html' %}
{% load static %}

{% block head %} <title>Corona-Dingdong | Homepage</title> {% endblock %}
{% block content %}
<section id="homepage">
    <div>
        <div class="container-fluid">
            <div class="homepage">
                <div class="row row-hp">
                    <div class="col-8">
                        <h1 class="hp-text">
                            Bantu RS dan Klinik di Jakarta melawan Covid-19!
                        </h1>
                        <hr class="hp-hr">
                        <h5 class="text-center">
                            Ditengah pandemi Covid-19 yang memakan banyak korban, banyak rumah sakit dan klinik di jakarta membutuhkan bantuan baik uang maupun barang karena persediaannya yang semakin terbatas
                        </h5>
                    </div>
                    <div class="col-4">
                        <div class="row row-info">
                            <div class="col">
                                <img class="odp" src="{% static '/img/odp.svg' %}" alt="">
                            </div>
                            <div class="col">
                                1,306
                            </div>
                            <div class="col">
                                Orang dalam pemantauan
                            </div>
                        </div>
                        <div class="row row-info align-content-center">
                            <div class="col align-content-center">
                                <img class="pdp" src="{% static '/img/pdp.svg' %}" alt="">
                            </div>
                            <div class="col align-content-center">
                                528
                            </div>
                            <div class="col">
                                Pasien dalam pengawasan
                            </div>
                        </div>
                        <div class="row row-info">
                            <div class="col-4">
                                <img class="positif" src="{% static '/img/positif.svg' %}" alt="">
                            </div>
                            <div class="col-4">
                                450
                            </div>
                            <div class="col-4">
                                Kasus positif
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            Sumber: corona.jakarta.go.id
                        </div>
                    </div>
                </div>

                <div class="row row-hp text-center content">
                    <div class="col">
                        <img class="img-content" src="{% static '/img/img-1.svg' %}" alt="">
                    </div>
                    <div class="col">
                        <img class="img-content" src="{% static '/img/img-2.svg' %}" alt="">
                    </div>
                    <div class="col">
                        <img class="img-content" src="{% static '/img/img-3.svg' %}" alt="">
                    </div>
                </div>

                <div class="row  row-hp">
                    <div class="col">
                        <img class="img-donate" src="{% static '/img/donate.svg' %}" alt="">
                    </div>
                    <div class="col-8 text-right">
                        <h3 class="">
                            Kamu ingin membantu Rumah Sakit dan Klinik di jakarta agar bisa merawat lebih banyak korban dari pandemi Covid-19 ini?
                        </h3>
                        <input type="submit" class="button bt-blue" value="Donasi Sekarang!">
                    </div>
                </div>

                <div class="row  row-hp">
                    <div class="col-8">
                        <h3 class="">
                            Kamu ingin membantu Rumah Sakit dan Klinik di jakarta agar bisa merawat lebih banyak korban dari pandemi Covid-19 ini?
                        </h3>
                        <input type="submit" class="button bt-green" value="Gabung Sekarang!">
                    </div>
                    <div class="col text-right">
                        <img class="img-donate" src="{% static '/img/need-donation.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-center">
                    <button onclick="scrollToTop()" class="to-top">
                        <img class="arrow" src="{% static 'img/arrow.svg' %}" alt="">
                        Kembali ke atas
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}